* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Roboto;
}

#board {
    width: 580px;
    height: 580px;
    background-image: url('../gfx/board.png');
    background-size: cover;
}

.pawn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    left: -50px
}

.red {
    background-color: rgb(231, 60, 60);
    border: 3px solid rgb(97, 13, 13);
}

.green {
    background-color: rgb(56, 185, 99);
    border: 3px solid rgb(24, 114, 39);
}

.blue {
    background-color: rgb(68, 203, 221);
    border: 3px solid rgb(64, 94, 192);
}

.yellow {
    background-color: rgb(235, 245, 92);
    border: 3px solid rgb(202, 188, 57);
}

.grey {
    background-color: rgb(90, 90, 87);
    border: 3px solid rgb(70, 69, 67);
}

#dice {
    width: 200px;
    height: 200px;
    background-image: url('../gfx/1.png');
    border: 5px solid black;
}

#roll {
    width: 100px;
    border-radius: 50% 10%;
    border: 5px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#roll:hover {
    cursor: pointer;
}

.player {
    border: 7px solid black;
    width: 150px;
    height: 80px;
    border-radius: 50% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    margin: 0 20px;
}

.redBorder {
    border: 7px solid rgb(231, 60, 60);
}

.greenBorder {
    border: 7px solid rgb(28, 136, 46);
}

.blueBorder {
    border: 7px solid rgb(64, 94, 192);
}

.yellowBorder {
    border: 7px solid rgb(224, 208, 57);
}

.ready {
    background-color: rgb(41, 209, 83);
}

#leave {
    border: 1px solid black;
    width: 100px;
    height: 40px;
}

#dash {
    font-size: 50px;
}

#timer {
    font-size: 80px;
    margin-right: 20px;
}

/* Login */
#login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 80px;
}

#cont {
    background-color: rgb(58, 59, 56);
    padding: 30px;
}

#nickInput {
    width: 80%;
}

/* Miganie podjrzyczone ze stacka */

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.victory {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(46, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 100px;
}


#nav {
    width: 100%;
    display: flex;
    background-color: rgb(58, 59, 56);
    padding: 30px;
    justify-content: space-around;
    align-items: center;

}

#main {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(221, 36, 36); */
    align-items: center;
    padding: 50px;
}

#players {
    display: flex;

}

#timerCont {
    /* background-color: rgb(61, 216, 255); */
    display: flex;
    color: rgb(255, 255, 255);
    width: 45vw;
    height: 100px;
    overflow: hidden;
    /* justify-content: space-around; */
    align-items: center;
}

#diceCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: rgb(112, 110, 110);
}





/* Switch pożyczony z w3schools */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}